@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: grey; */
  font-family: "Source Code Pro", monospace;
}
/* .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  color: white;
  overflow-x: hidden;
}
.sidebar a {
  width: 80%;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  background-color: #333; /* Darker button background */
  border: 3px solid #333;
  color: white; /* Text color */
  margin: 5px 0; /* Spacing between buttons */
  text-align: center;
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Removes the outline */
  transition: background-color 0.3s ease; /*Smooth transition for hover effect*/
}

.sidebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar .active {
  background-color: #3b82f633;
  border: 3px solid rgba(0, 123, 255, 0.5);
}
.sidebar a:hover {
  background-color: #3b82f633;
  border: 3px solid rgba(0, 123, 255, 0.5);
  /* opacity: 1; */
}

.side_bar_title {
  margin-top: 50px;
  display: block;
}
.creator_git_tag {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.creator_git_tag li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator_git_tag a {
  text-decoration: none;
}
.app h1 {
  color: white;
  padding: 20px;
}

.searchbar {
  background-image: linear-gradient(to bottom, #22c55e, #3b82f6);
  margin-left: 250px;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search_bar {
  font-size: 1.5rem;
  margin-right: 10px;
  height: 40px;
  padding: 5px 5px 10px;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid;
}

.search_bar::placeholder {
  color: #fff;
  opacity: 0.5;
}

.search__button {
  background-color: #795548;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 1rem;
  cursor: pointer;
}

.container {
  padding: 20px;
  display: grid;
  grid-gap: 60px 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 250px;
}
.image-wrapper {
  position: relative;
}
.movie-card {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-type {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.movie-type {
  opacity: 0;
  transition: opacity 0.3s;
}

.movie-card:hover .movie-type {
  visibility: visible;
  opacity: 1;
}

.movie-img {
  width: 250px;
  height: 350px;
}

.error h2 {
  color: #fff;
  padding: 20px;
}

.title {
  white-space: nowrap;
  width: 204px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 960px) {
  /* styles for browsers larger than 960px; */
  .container {
    padding: 20px;
    display: grid;
    grid-gap: 60px 30px;
    grid-template-columns: repeat(2, 1fr);
    margin: 70px 0 20px;
  }
  .searchbar {
    display: block;
  }
  .search_bar {
    font-size: 1.5rem;
    margin-right: 10px;
    width: 100%;
    height: 40px;
    padding: 5px 5px 10px;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid;
  }
  .search__button {
    margin-top: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* styles for browsers larger than 768px; */

  .container {
    padding: 20px;
    display: grid;
    grid-gap: 60px 30px;
    grid-template-columns: repeat(1, 1fr);
    margin: 70px 0 20px;
  }
  .searchbar {
    display: block;
  }
  .search_bar {
    font-size: 1.5rem;
    margin-right: 10px;
    width: 100%;
    height: 40px;
    padding: 5px 5px 10px;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid;
  }
  .search__button {
    margin-top: 10px;
    width: 100%;
  }
}
